{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container mb-5">
        <div class="row">
            <div class="col text-center mt-3">
                <hr>
                <h2 class="logo-font mb-4">Favourites</h2>
                <hr>
            </div>
        </div>
        <form action="{% url 'empty_favourites' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
            <button type="submit">Empty Favourites</button>
        </form>
    {% for product in favourite_products %}
    <p>{{product}}</p>
    <form action="{% url 'remove_from_favourites' product.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
        <button type="submit">Remove From Favourites</button>
    </form>
    {% endfor %}
    </div>
</div>
{% endblock %}