{% extends "base.html" %}
{% load static %}

{% block header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Favourites</h2>
                <hr>
            </div>
        </div>
    {% for product in favourite_products %}
    <p>{{product.product.name}}</p>
    {% endfor %}
    </div>
</div>
{% endblock %}