@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/home-background.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.heading-font {
    font-family: 'Caramel', cursive;
    font-weight: 900;
    font-size: 3.3rem;
}

.grad-back {
    background: linear-gradient(135deg, rgba(255,254,246,1) 0%, rgba(255,238,202,1) 100%);
    min-width: 100vw;
}

.container {
    padding-bottom: 5rem;
}

.container-fluid {
    padding-bottom: 5rem !important;
}

.home-container {
    padding-top: 1rem;
}

.form-control {
    background-color: rgba(97, 132, 77, 0) !important;
    color: #343a40;
}

.form-control::placeholder {
    color: black !important;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black !important;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
color: black !important;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
color: black !important;
}

.form-control:-moz-placeholder { /* Firefox 18- */
color: black !important;
}

.input-group>.form-control {
    background-color: rgba(97, 132, 77, 0) !important;
    color: #343a40;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
    margin-left: calc(6vw + 10px);
}

.navbar {
    padding: 0px !important;
    background-color: rgba(97, 132, 77, 0.5) !important;
}

.dropdown-menu {
    background-color: rgba(97, 132, 77, 1) !important;
}

.free-delivery {
    background: #fdf7ea;
}

.shop-now-button {
    background: linear-gradient(135deg, rgba(97, 132, 77, 1) 0%, rgba(147,137,7,1) 72%, rgba(154,112,24,1) 100%);
    color: white;
    min-width: 260px;
    border-radius: 3px !important;
}

.shop-now-button:hover {
    color: #000 !important;
    background: linear-gradient(135deg, rgba(97, 132, 77, 1) 0%, rgba(147,137,7,1) 72%, rgba(154,112,24,1) 100%) !important;
}

.empty-button {
    background: linear-gradient(135deg, rgba(97, 132, 77, 1) 0%, rgba(147,137,7,1) 72%, rgba(154,112,24,1) 100%) !important;
    margin-bottom: 2rem;
    border-radius: 3px !important;
    color: #fff5f4;
}

.blog-button {
    background: linear-gradient(135deg, rgba(97, 132, 77, 1) 0%, rgba(147,137,7,1) 32%, rgba(154,112,24,1) 100%);
    color: white;
    min-width: 260px;
    border-radius: 3px !important;
}

.card {
    border-radius: 3px !important;
    text-align: center;
}

.card-footer:last-child {
    padding-top: 1vw !important;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.add-to {
    background-color: rgba(100, 82, 59, 0.8);
    width: fit-content;
    height: min-content;
    border-radius: 3px !important;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.head-buffer {
    margin-top: calc(8vw + 8vh);
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: linear-gradient(135deg, rgba(255,254,246,1) 0%, rgba(255,238,202,1) 100%);
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    max-height: 240px;
    object-fit: scale-down;
    background: #ffe9d7;
}

.blog-img-top {
    max-height: 240px;
}

.card-body {
    background: #ffe9d7;
}

.card-footer {
    background: #ffe9d7;
}

.favourite-button {
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    z-index: 10;
    background-color: rgba(0,0,0,0);
    border: 0px;
}

.unfav-button {
    display: block;
    position: absolute;
    bottom: 0rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    z-index: 10;
    background-color: rgba(0,0,0,0);
    border: 0px;
}

.unfav-button i,
.favourite-button i {
    font-size: 2rem;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.post-image-container img {
    height: 45rem;
    min-width: 34rem;
    margin-top: 10rem;
    width: 90%;
}

.post-title-col {
    position: relative;
}

.post-title-container {
    background: #EDEDE9;
    height: 10rem;
    width: 30rem;
    position: absolute;
    left: 0;
    top: -5rem;
    margin-bottom: 2rem;
}

.post-title-container h1 {
    font-size: 4rem;
    font-weight: 500;
    margin-left: 2rem;
}

.post-content {
    padding: 4rem 2rem;
    margin-top: 5rem;
}

.post-content p {
    font-size: 1.25rem;
}

.post-current-image img {
    height: 18rem;
    width: 12rem;
}

.post-btns {
    margin-top: 5rem;
}

.comments-wrapper{
    padding: 0 2rem;
}

.item-link-button {
    margin: 1.25rem 0;
    width: 15rem;
}

.item-link-light {
    color: #153243;
    border: .1rem solid #153243;
}

.item-link-light:hover {
    background-color: #153243;
    color: #EDEDE9;
}

/* Blog */
.blog-homepage-container {
    padding: calc(8vw + 4vh) 2vw;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

.blog-homepage-container,
.blog-homepage-details {
    background-color: #D1D1C7;
}

.blog-post {
    max-width: 40vw;
}

.blog-image-container {
    height: 40rem;
    width: 28rem;
    position: relative;
    margin-bottom: 10rem;
}

.blog-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog-item-details {
    width: 90%;
    height: fit-content;
    position: absolute;
    bottom: -7.5rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blog-page-details {
    background: #EDEDE9;
}

.blog-item-details h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

@media (min-width: 768px) {
    .post-image-container img {
        height: 50rem;
        width: 90%;
        min-width: 37rem;
        margin-top: 10rem;
    }

    .post-title-container {
        height: 100%;
        width: 90%;
        left: 5%;
        top: 0;
    }

    .post-title-container h1 {
        font-size: 5rem;
        margin-left: 4rem;
    }

    .post-content p {
        font-size: 1.5rem;
        margin: 0 2rem;
    }

    .post-btns {
        width: 40rem;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .post-image-container img {
        height: 65rem;
        width: 50rem;
    }

    .post-title-container h1 {
        font-size: 8rem;
        margin-left: 4rem;
    }

    .post-content p {
        margin: 0 5rem;
        font-size: 2rem;
    }

    .blog-image-container {
        height: 46rem;
        width: 35rem;
    }

    .blog-item-details {
        width: 30rem;
    }

    .blog-page-details {
        background: #EDEDE9;
    }

    .blog-item-details h2 {
        font-size: 3rem;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 140px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 79px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
    
    .navbar {
        background-color: rgba(97, 132, 77, 1) !important;
    }

    .grad-back {
        min-width: 160vw;
    }

    .post-buffer {
        padding-top: 20vh;
    }
}